<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <appSettings>
    <add key="txtlog" value="..\\..\\..\\Logs\\Telegrams-{0:yyyy-MM-dd-HH}.txt"/>
    <add key="logtofile" value="true"/>
    <add key="xmlconfig" value="..\\..\\..\\Warehouse\\Config\xmlconfigAbailoglu.xml"/>
    <add key="commconfig" value="..\\..\\..\\Warehouse\\Config\xmlcommconfigAbailoglu.xml"/>
    <add key="xmlsimconfig" value="..\\..\\..\\Warehouse\\Config\xmlsimconfigAbailoglu.xml"/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NotifyEndpoint1"/>
        <binding name="NotifyEndpoint2"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/MFCS/" binding="netTcpBinding" bindingConfiguration="NotifyEndpoint1" contract="MFCService.ITelegramNotify" name="NotifyEndpoint1">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9000/MFCS/" binding="netTcpBinding" bindingConfiguration="NotifyEndpoint2" contract="MFCService.INotifyUI" name="NotifyEndpoint2">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
