<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="MFCSEntities" connectionString="metadata=res://*/ModelCommand.csdl|res://*/ModelCommand.ssdl|res://*/ModelCommand.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=MFCS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWMSToMFCS" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWCF_RcvTelProxy" />
        <binding name="NetTcpBinding_IWCF_SendTelProxy" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/i2MFCS.Telegrams/Receive/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCF_RcvTelProxy"
        contract="WCF_RcvTelProxy.IWCF_RcvTelProxy" name="NetTcpBinding_IWCF_RcvTelProxy">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9000/i2MFCS.Telegrams/Send/"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCF_SendTelProxy"
        contract="WCF_SendTelProxy.IWCF_SendTelProxy" name="NetTcpBinding_IWCF_SendTelProxy">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:9010/i2MFCS.WMS/WMSToMFCS/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMSToMFCS"
        contract="ServiceReferenceWMSToMFCS.IWMSToMFCS" name="BasicHttpBinding_IWMSToMFCS" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
