<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="txtlog" value="..\\..\\..\\Logs\\Telegrams-{0:yyyy-MM-dd-HH}.txt"/>
    <add key="logtofile" value="false"/>
    <add key="logFolder" value="..\\..\\..\\Logs\\"/>
    <add key="logToKeepMonths" value="3"/>
    <add key="DataBaseSizeGBMax" value="8"/>
    <add key="DataBaseSizeGBReduced" value="6"/>
    <add key="maintenanceTime" value="10:47:00"/>
    <add key="xmlconfig" value="..\\..\\..\\Warehouse\\Config\xmlconfigDogusCay.xml"/>
    <add key="xmlsimconfig" value="..\\..\\..\\Warehouse\\Config\xmlsimconfigDogusCay.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <remove contract="IMetadataExchange" name="sb"/>
      <endpoint address="" binding="mexTcpBinding" contract="IMetadataExchange" name="sb"/>
    </client>
    <services>
      <service name="Telegrams.WcfService.WCF_SendTelProxy">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Telegrams.WcfService.IWCF_SendTelProxy">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/i2MFCS.Telegrams/Send/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="Telegrams.WcfService.WCF_RcvTelProxy">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="" contract="Telegrams.WcfService.IWCF_RcvTelProxy">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/i2MFCS.Telegrams/Receive/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>


</configuration>
