<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="logToFile" value="True"/>
    <add key="logFile" value="..\\..\\..\\Logs\\WMSconsumer-{0:yyyy-MM-dd-HH}.txt"/>
  </appSettings>  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      <remove contract="IMetadataExchange" name="sb"/>
      <endpoint address="" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" name="sb"/>
    </client>
    <services>
      <service name="WcfService.WMSConsumer" behaviorConfiguration="ServiceBehWMSConsumer">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" contract="WcfService.IWMSConsumer">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9002/WMSConsumer/"/>
          </baseAddresses>
          <timeouts closeTimeout="00:00:10" openTimeout="00:00:10"/>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehWMSConsumer">
          <serviceDebug/>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <useRequestHeadersForMetadataAddress/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
