<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:9000/i2MFCS.Telegrams/Receive/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCF_RcvTelProxy" contract="WCF_RecTelProxy.IWCF_RcvTelProxy" name="NetTcpBinding_IWCF_RcvTelProxy">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/i2MFCS.Telegrams/Send/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCF_SendTelProxy" contract="WCF_SendTelProxy.IWCF_SendTelProxy" name="NetTcpBinding_IWCF_SendTelProxy">
                <identity>
                    <dns value="localhost"/>
                </identity>
            </endpoint>
        </client>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWCF_RcvTelProxy"/>
                <binding name="NetTcpBinding_IWCF_SendTelProxy"/>
            </netTcpBinding>
        </bindings>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
