<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="txtlog" value="..\\..\\..\\Logs\\Core-{0:yyyy-MM-dd-HH}.txt" />
    <add key="logtofile" value="false" />
    <add key="logFolder" value="..\\..\\..\\Logs\\" />
    <add key="logToKeepMonths" value="3" />
    <add key="DataBaseSizeGBMax" value="8" />
    <add key="DataBaseSizeGBReduced" value="6" />
    <add key="maintenanceTime" value="10:47:00" />
    <add key="xmlconfig" value="..\\..\\..\\Warehouse\\Config\xmlconfigDogusCay.xml" />
    <add key="xmlsimconfig" value="..\\..\\..\\Warehouse\\Config\xmlsimconfigDogusCay.xml" />
    <add key="WMSSimulation" value="false" />
  </appSettings>
  <connectionStrings>
    <!--    <add name="MFCSEntities" connectionString="metadata=res://*/ModelCommand.csdl|res://*/ModelCommand.ssdl|res://*/ModelCommand.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.233,1433\sqlexpress;initial catalog=MFCS;User Id=MFCS;password=mfcsui;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="MFCSEntities" connectionString="metadata=res://*/ModelCommand.csdl|res://*/ModelCommand.ssdl|res://*/ModelCommand.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=MFCS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWMSConsumer" />
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWMSToMFCS" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcpMFCSService" receiveTimeout="10675199.02:48:05.4775807" />
        <binding name="NetTcpBinding_IWCF_RcvTelProxy" />
        <binding name="NetTcpBinding_IWCF_SendTelProxy" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/i2MFCS.Telegrams/Receive/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCF_RcvTelProxy" contract="WCF_RcvTelProxy.IWCF_RcvTelProxy" name="NetTcpBinding_IWCF_RcvTelProxy">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:9000/i2MFCS.Telegrams/Send/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWCF_SendTelProxy" contract="WCF_SendTelProxy.IWCF_SendTelProxy" name="NetTcpBinding_IWCF_SendTelProxy">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!--      <endpoint address="http://192.168.7.243:9010/i2MFCS.WMS/WMSToMFCS/" -->
      <endpoint address="http://localhost:9010/i2MFCS.WMS/WMSToMFCS/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMSToMFCS"
        contract="ServiceReferenceWMSToMFCS.IWMSToMFCS" name="BasicHttpBinding_IWMSToMFCS" />
    </client>
    <services>
      <service name="WcfService.MFCSService" behaviorConfiguration="ServiceBehMFCS">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpMFCSService" contract="WcfService.INotifyUI">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9050/MFCS/" />
          </baseAddresses>
          <timeouts openTimeout="00:00:10" closeTimeout="00:00:10" />
        </host>
      </service>
      <service name="WcfService.WMS" behaviorConfiguration="ServiceBehWMS">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" contract="WcfService.IWMS">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9001/WMS/" />
          </baseAddresses>
          <timeouts closeTimeout="00:00:10" openTimeout="00:00:10" />
        </host>
      </service>
      <service name="WcfService.WMSConsumer" behaviorConfiguration="ServiceBehWMSConsumer">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="" contract="WcfService.IWMSConsumer">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration="" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9002/WMSConsumer/" />
          </baseAddresses>
          <timeouts closeTimeout="00:00:10" openTimeout="00:00:10" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehMFCS">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <useRequestHeadersForMetadataAddress />
        </behavior>
        <behavior name="ServiceBehWMS">
          <serviceDebug />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <useRequestHeadersForMetadataAddress />
        </behavior>
        <behavior name="ServiceBehWMSConsumer">
          <serviceDebug />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <useRequestHeadersForMetadataAddress />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>
