<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="txtlog" value="..\\..\\..\\Logs\\UI-{0:yyyy-MM-dd-HH}.txt" />
    <add key="logtofile" value="false" />
    <add key="xmlconfig" value="..\\..\\..\\Warehouse\\Config\xmlconfigUIDogusCay.xml" />
    <add key="xmlsimconfig" value="..\\..\\..\\Warehouse\\Config\xmlsimconfigDogusCay.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DataBaseSizeGBMax" value="8" />
    <add key="DataBaseSizeGBReduced" value="6" />
    <add key="StartLanguageID" value="0" />
    <add key="CommissionningMode" value="ii" />
  </appSettings>
  <connectionStrings>
    <add name="EntitiesWMS" connectionString="metadata=res://*/ModelWMS.csdl|res://*/ModelWMS.ssdl|res://*/ModelWMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.60.10\sqlexpress;initial catalog=i2MFCS.WMS.Database.Tables.WMSContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MFCSEntities" connectionString="metadata=res://*/ModelCommand.csdl|res://*/ModelCommand.ssdl|res://*/ModelCommand.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.60.10\sqlexpress;initial catalog=MFCS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWMSToUI" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.60.10:9050/MFCS/" binding="netTcpBinding" 
        bindingConfiguration="NetTcpBinding" contract="MFCSService.INotifyUI"
        name="NotifyEndpoint1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://192.168.60.10:9010/i2MFCS.WMS/WMSToUI/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMSToUI"
        contract="ProxyWMS_UI.IWMSToUI" name="BasicHttpBinding_IWMSToUI" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
